.App {
  text-align: center;
}

.App > header {
  background-color: #6d2a7d;
  height: 150px;
  padding: 20px;
  color: white;
}

.App > header > img {
  animation: logo-bounce infinite 1.5s linear;
  height: 80px;
}

.App > header > h2 {
  font-size: 1.5em;
}

.App > p {
  max-width: 800px;
  margin: 20px auto;
  font-size: large;
}

.foreword {
  font-weight: 700;
}

@keyframes logo-bounce {
  0% {
    transform: rotate(-15deg) translate(-50px, 0);
  }
  50% {
    transform: rotate(15deg) translate(50px, 0);
  }
  100% {
    transform: rotate(-15deg) translate(-50px, 0);
  }
}
